# Measuring Diversity

This notebook will lead you through a fairly simple analysis of real student demographic data from UC Berkeley. The data is fairly simple, and so we will be focusing on data manipulation and presentation.

A very simple question one might ask is how does the ethnic and gender makeup of an academic department compare to the makeup of Berkeley as a whole (or California, or the US...). Using data from Cal Answers, let's try and answer that question.

We have data going back to 2005 with gender and (coarse) ethnicity broken down by various academic units. A skeleton for comparing one department/unit to Berkeley has been created.

In groups, you'll need to:
- choose to look at gender, ethnicity or a combination across units,
- automate .csv loads from a folder,
- run the analysis for every department/group,
- make a summary plot(s).

As a reminder, IPython notebooks are organized by "cells." Each cell can have its own code and can be run independently and in any order (although they are usually run top to bottom in a notebook.) To run a cell and move to the next cell press ```Shift+Enter```. To run a cell and stay on that cell press ```Control+Enter```.


Questions to be discussed in groups are highlighted in <font color='green'>green</font>. If you don't understand a function that is used, try googling something like "python function-name".

## Homework
Your homework will be to post a picture of your results on Piazza along with a brief description of the analysis you have done. You might also comment on the implications of your analysis on diversity, equity, etc.

In [2]:
import os # library that deals with operating system
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

# Loading data

In [3]:
folder = 'data'
filename = 'CensusEquityComparisonData-LettersAndSciences.csv'
baseline = 'CensusEquityComparisonData-CampusTotal.csv'
df = pd.read_csv(os.path.join(folder, filename))
df_baseline = pd.read_csv(os.path.join(folder, baseline))

## Inspect the data

In [4]:
cols = df.columns
print(cols)
df

Index([u'﻿Semester Year Name Concat', u'Semester Year Letter Cd Concat',
       u'Ungrad Grad Cd', u'Gender Desc', u'Ucb Level1 Ethnic Rollup Cd',
       u'Ucb Level1 Ethnic Rollup Desc', u'Student Headcount',
       u'Prorated Student Major Cnt Sum'],
      dtype='object')

,﻿Semester Year Name Concat,Semester Year Letter Cd Concat,Ungrad Grad Cd,Gender Desc,Ucb Level1 Ethnic Rollup Cd,Ucb Level1 Ethnic Rollup Desc,Student Headcount,Prorated Student Major Cnt Sum
0,2005 Fall,2005 D,U,Female,1,Underrepresented Minority,1818,1815.500000
1,2005 Fall,2005 D,U,Female,2,Asian/Pacific Islander,4172,4127.000000
2,2005 Fall,2005 D,U,Female,3,White/Other,4255,4240.166667
3,2005 Fall,2005 D,U,Female,4,International,176,173.500000
4,2005 Fall,2005 D,U,Male,1,Underrepresented Minority,1082,1080.000000
5,2005 Fall,2005 D,U,Male,2,Asian/Pacific Islander,2658,2616.666667
6,2005 Fall,2005 D,U,Male,3,White/Other,3355,3339.666667
7,2005 Fall,2005 D,U,Male,4,International,189,186.000000
8,2006 Spring,2006 B,U,Female,1,Underrepresented Minority,1755,1752.000000
9,2006 Spring,2006 B,U,Female,2,Asian/Pacific Islander,4164,4116.000000
10,2006 Spring,2006 B,U,Female,3,White/Other,4137,4117.666667
11,2006 Spring,2006 B,U,Female,4,International,176,174.000000
12,2006 Spring,2006 B,U,Male,1,Underrepresented Minority,1035,1033.500000
13,2006 Spring,2006 B,U,Male,2,Asian/Pacific Islander,2646,2605.500000
14,2006 Spring,2006 B,U,Male,3,White/Other,3274,3254.500000
15,2006 Spring,2006 B,U,Male,4,International,186,183.333333
16,2006 Fall,2006 D,U,Female,1,Underrepresented Minority,1854,1851.000000
17,2006 Fall,2006 D,U,Female,2,Asian/Pacific Islander,4213,4164.666667
18,2006 Fall,2006 D,U,Female,3,White/Other,4320,4299.666667
19,2006 Fall,2006 D,U,Female,4,International,180,178.500000
20,2006 Fall,2006 D,U,Male,1,Underrepresented Minority,1095,1093.500000
21,2006 Fall,2006 D,U,Male,2,Asian/Pacific Islander,2704,2667.833333
22,2006 Fall,2006 D,U,Male,3,White/Other,3398,3373.000000
23,2006 Fall,2006 D,U,Male,4,International,177,173.000000
24,2007 Spring,2007 B,U,Female,1,Underrepresented Minority,1843,1838.500000
25,2007 Spring,2007 B,U,Female,2,Asian/Pacific Islander,4266,4213.666667
26,2007 Spring,2007 B,U,Female,3,White/Other,4235,4206.500000
27,2007 Spring,2007 B,U,Female,4,International,171,169.000000
28,2007 Spring,2007 B,U,Male,1,Underrepresented Minority,1080,1078.000000
29,2007 Spring,2007 B,U,Male,2,Asian/Pacific Islander,2737,2701.166667
...,...,...,...,...,...,...,...,...
131,2013 Fall,2013 D,U,Female,3,White/Other,3299,3280.500000
132,2013 Fall,2013 D,U,Female,4,International,1306,1292.500000
133,2013 Fall,2013 D,U,Male,1,Underrepresented Minority,1471,1464.500000
134,2013 Fall,2013 D,U,Male,2,Asian/Pacific Islander,2898,2866.500000
135,2013 Fall,2013 D,U,Male,3,White/Other,2859,2838.666667
136,2013 Fall,2013 D,U,Male,4,International,1168,1158.666667
137,2014 Spring,2014 B,U,Female,1,Underrepresented Minority,2238,2231.000000
138,2014 Spring,2014 B,U,Female,2,Asian/Pacific Islander,4143,4101.166667
139,2014 Spring,2014 B,U,Female,3,White/Other,3304,3283.500000
140,2014 Spring,2014 B,U,Female,4,International,1250,1235.500000
141,2014 Spring,2014 B,U,Male,1,Underrepresented Minority,1427,1421.000000
142,2014 Spring,2014 B,U,Male,2,Asian/Pacific Islander,2950,2916.166667
143,2014 Spring,2014 B,U,Male,3,White/Other,2804,2783.166667
144,2014 Spring,2014 B,U,Male,4,International,1117,1105.500000
145,2014 Fall,2014 D,U,Female,1,Underrepresented Minority,2329,2321.500000
146,2014 Fall,2014 D,U,Female,2,Asian/Pacific Islander,4118,4081.166667
147,2014 Fall,2014 D,U,Female,3,White/Other,3204,3184.500000
148,2014 Fall,2014 D,U,Female,4,International,1389,1376.666667
149,2014 Fall,2014 D,U,Male,1,Underrepresented Minority,1508,1502.000000
150,2014 Fall,2014 D,U,Male,2,Asian/Pacific Islander,3055,3022.166667
151,2014 Fall,2014 D,U,Male,3,White/Other,2817,2800.666667
152,2014 Fall,2014 D,U,Male,4,International,1309,1295.833333
153,2015 Spring,2015 B,U,Female,1,Underrepresented Minority,2370,2362.000000
154,2015 Spring,2015 B,U,Female,2,Asian/Pacific Islander,4230,4193.166667
155,2015 Spring,2015 B,U,Female,3,White/Other,3177,3159.000000
156,2015 Spring,2015 B,U,Female,4,International,1313,1300.166667
157,2015 Spring,2015 B,U,Male,1,Underrepresented Minority,1523,1518.500000
158,2015 Spring,2015 B,U,Male,2,Asian/Pacific Islander,3104,3074.666667
159,2015 Spring,2015 B,U,Male,3,White/Other,2754,2738.166667
160,2015 Spring,2015 B,U,Male,4,International,1199,1186.833333

In [10]:
semesters = df[cols[1]]
semesters

0      2005 D
1      2005 D
2      2005 D
3      2005 D
4      2005 D
5      2005 D
6      2005 D
7      2005 D
8      2006 B
9      2006 B
10     2006 B
11     2006 B
12     2006 B
13     2006 B
14     2006 B
15     2006 B
16     2006 D
17     2006 D
18     2006 D
19     2006 D
20     2006 D
21     2006 D
22     2006 D
23     2006 D
24     2007 B
25     2007 B
26     2007 B
27     2007 B
28     2007 B
29     2007 B
        ...
131    2013 D
132    2013 D
133    2013 D
134    2013 D
135    2013 D
136    2013 D
137    2014 B
138    2014 B
139    2014 B
140    2014 B
141    2014 B
142    2014 B
143    2014 B
144    2014 B
145    2014 D
146    2014 D
147    2014 D
148    2014 D
149    2014 D
150    2014 D
151    2014 D
152    2014 D
153    2015 B
154    2015 B
155    2015 B
156    2015 B
157    2015 B
158    2015 B
159    2015 B
160    2015 B
Name: Semester Year Letter Cd Concat, dtype: object

In [11]:
semesters = set(semesters)

{'2005 D',
 '2006 B',
 '2006 D',
 '2007 B',
 '2007 D',
 '2008 B',
 '2008 D',
 '2009 B',
 '2009 D',
 '2010 B',
 '2010 D',
 '2011 B',
 '2011 D',
 '2012 B',
 '2012 D',
 '2013 B',
 '2013 D',
 '2014 B',
 '2014 D',
 '2015 B'}

In [12]:
semesters = list(semesters)

['2014 B',
 '2010 D',
 '2010 B',
 '2014 D',
 '2013 D',
 '2005 D',
 '2008 B',
 '2008 D',
 '2013 B',
 '2012 D',
 '2006 D',
 '2009 B',
 '2006 B',
 '2009 D',
 '2012 B',
 '2015 B',
 '2011 D',
 '2007 D',
 '2011 B',
 '2007 B']

In [13]:
semesters = sorted(semesters)

['2005 D',
 '2006 B',
 '2006 D',
 '2007 B',
 '2007 D',
 '2008 B',
 '2008 D',
 '2009 B',
 '2009 D',
 '2010 B',
 '2010 D',
 '2011 B',
 '2011 D',
 '2012 B',
 '2012 D',
 '2013 B',
 '2013 D',
 '2014 B',
 '2014 D',
 '2015 B']

In [9]:
semesters

['2005 D',
 '2006 B',
 '2006 D',
 '2007 B',
 '2007 D',
 '2008 B',
 '2008 D',
 '2009 B',
 '2009 D',
 '2010 B',
 '2010 D',
 '2011 B',
 '2011 D',
 '2012 B',
 '2012 D',
 '2013 B',
 '2013 D',
 '2014 B',
 '2014 D',
 '2015 B']

<font color='green'>
1) What does each line above do to 'semesters'?<br>
You can run them individually and print semesters between lines.</font>

In [16]:
#set removes the duplicates 
#list converts the set into a list
#sorted sorts the list on increasing chronological order

genders = list(set(df[cols[3]])) #basically accesses col 3 of df (gender), then removes duplicates (set), and converts
                                #into a list that we can work with
genders

['Male', 'Decline to State', 'Female']

# Example Analysis
We'll first look at how the college of Letters and Sciences compares to the campus as a whole. We'll restrict this analysis to gender for now.

In [25]:
def headcount_percent(df, semester, col, attrs):
    """
    Extract fractional headcount data for specific attributes from a column.
    
    Parameters
    ----------
    df : dataframe
        Dataframe containing data.
    semester : str
        String for semester
    col : str
        Column to check attributes from.
    attrs : list of str
        List of attributes to select and count.
        
    Return
    ------
    Array of percentages for each attribute in attrs.
    """
    indxs = []
    # What does this loop do?
    for attr in attrs:
        indxs.append((df[col] == attr) & (df['Semester Year Letter Cd Concat'] == semester))
        #finds all indices that have matching attributes and semester students
   
    counts = [df['Student Headcount'].loc[indx].sum() for indx in indxs]
        #gets all the student headcounts included in those indices
    print(counts)
    total = sum(counts)
        #adds all of those students
    return 100.*np.array([float(count)/total for count in counts])
        #Returns ratio of each indices' student headcount over total student headcount matching attribute + sem
def distance(data, baseline):
    """
    Compute the euclidean distance between two data arrays.
    
    Parameters
    ----------
    data : array
        Array of data.
    baseline : array
        Array of baseline data, should be the same shape as data.
        
    Return
    ------
    Euclidean distance between the arrays.
    """
    return np.linalg.norm(data-baseline)
        #pythagorean theorem; the difference/distance between data and baseline?
    
campus_vs_LS = {} # dictionary for data
for semester in semesters:
    data = headcount_percent(df, semester, cols[3], genders)
    baseline = headcount_percent(df_baseline, semester, cols[3], genders)
    campus_vs_LS[semester] = distance(data, baseline)
    #compares data and baseline percentages (probably UC L&S versus campus)

[7284, 0, 10421]
[10843, 0, 12639]
[7141, 0, 10232]
[10418, 0, 12225]
[7374, 0, 10567]
[10980, 0, 12883]
[7306, 0, 10515]
[10680, 0, 12671]
[7693, 0, 10864]
[11394, 0, 13242]
[7627, 0, 10703]
[11084, 0, 12948]
[7923, 0, 10882]
[11766, 0, 13385]
[7759, 0, 10736]
[11394, 0, 13054]
[8129, 0, 10958]
[12021, 0, 13509]
[8046, 0, 10935]
[11712, 0, 13339]
[8083, 0, 10950]
[12026, 0, 13514]
[7946, 0, 10908]
[11650, 0, 13319]
[8156, 0, 11009]
[12225, 0, 13660]
[8009, 0, 10918]
[11837, 0, 13440]
[8180, 0, 10877]
[12282, 0, 13492]
[8106, 2, 10831]
[11880, 2, 13299]
[8396, 0, 10838]
[12490, 0, 13461]
[8298, 0, 10935]
[12117, 0, 13356]
[8689, 0, 11040]
[12991, 0, 14135]
[8580, 0, 11090]
[12293, 0, 13610]

In [19]:
campus_vs_LS

{'2005 D': 7.1203865037604714,
 '2006 B': 6.9378381207339306,
 '2006 D': 6.945581379989358,
 '2007 B': 6.70368653599499,
 '2007 D': 6.7788019339261192,
 '2008 B': 6.3815736826681748,
 '2008 D': 6.5747191694618952,
 '2009 B': 6.5805625184672962,
 '2009 D': 6.3591309229414987,
 '2010 B': 6.1700249277341621,
 '2010 D': 6.53165567501825,
 '2011 B': 6.3822790599993944,
 '2011 D': 6.6063294200467935,
 '2012 B': 6.3836498957019918,
 '2012 D': 6.6875518146062802,
 '2013 B': 6.1893758765201685,
 '2013 D': 6.3318584106410851,
 '2014 B': 6.2556576760027927,
 '2014 D': 5.4440943758518072,
 '2015 B': 5.427890171604866}

<font color='green'>
Read through the functions ```headcount_frac``` and ```distance```.<br>
1) What do they do?<br>
2) How are they documented?<br>
3) Is this the most reasonable way to calculate distance given our question? What drawbacks does it have?
</font>

## Plotting the Results

In [ ]:
labels = sorted(campus_vs_LS.keys())
vals = [campus_vs_LS[key] for key in labels]
ticks = range(len(labels))

In [ ]:
plt.plot(vals)
plt.ylabel('L&S Distance from Campus (percent)')
plt.xlabel('Semester')
p = plt.xticks(ticks, labels, rotation='vertical')

<font color='green'>
1) What does this plot show?<br>
2) How could this plot be improved?<br>
</font>

# Your Analysis
In your group, choose a question you'd like to investigate. The data comes from a number of academic units and is broken down by semester, gender, and ethnicity. You may have to restrict the scope of your question given the limitations of the dataset (you'll have access to more data for final projects!)

The rest of the notebook is broken down into the probable steps you'll need to take. Feel free to copy code from above and look things up online.
## Finding files
Google 'python listdir' and use it to get a list of all of the csv files in the data folder.

## Select Data
Depending on your question, you may need to make a modified version of the ```headcount_frac``` function to select the data you want. Or you might just need to pass it different values. You may also wish to use a different distance function.

## Plot the Results
Make a plot (or series of plots) that convey your result as clearly as possible. Google 'matplotlib something' for ideas on how to make certain plot types. If you are plotting different datasets on one plot, you may want to use a legend!